<h1> Requests </h1>

<h2> Received </h2>

<h3> Pending </h3>

<% @requests[:received][:pending].each do |request| %>
<div>
  <%= User.find(request.user_1).username %>
  <button class="accept-button" id="<%="#{request.user_1}-#{current_user.id}"%>"> Accept </button>
</div>
<% end %>

<h3> Accepted </h3>

<% @requests[:received][:accepted].each do |request| %>
<div>
  <%= User.find(request.user_1).username %>
</div>
<% end %>

<h2> Sent </h2>

<% @requests[:sent].each do |request| %>
  <div>
    <%= User.find(request.user_2).username %>
  </div>
<% end %>
